<!DOCTYPE html>
<html>
<head>
	<title>Moved Has Been Added</title>
</head>
<body>
	<h1> <%= title %> has been added!</h1>
	<img src="https://www.viralheat.com/wp-content/uploads/2013/03/sxsw-old-school.jpg"/>
	<form action="/search" method="get">
		<input name="title" id="box" type="text" placeholder="Search Movie Title">
		<br>

	</br>
	<input type="submit" class="btn" value="Search">
</form><br></br>
<form action="/">
	<button>Home Page</button>
	<br></br>
</form>
<form action="/watch_list"><button>Movie Watch List</button>
</form>



</body>
</html>