<!DOCTYPE html>
<html>
<head>
	<title>
	My Movie App
	</title>
</head>
<body>
	<h1>Submit MOVIES here!!!</h1>
	<div>
		<form action="/search" method="get">
			<input name="title" type="text" placeholder="Title">
			<br>
			
			<br>
			<input type="submit" value="Submit">
		</form>
	</div>			
</body>
</html>